<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu</title>
</head>
<body>
    <h1>噹噹賣菜單</h1>

    <h2>主餐</h2>
    <ul>
        <li th:each="item : ${mainMenu}">
            <span th:text="${item.name}">Main Course Item</span> - <span th:text="${item.price}">Price</span>
        </li>
    </ul>

    <h2>副食</h2>
    <ul>
        <li th:each="item : ${subMealMenu}">
            <span th:text="${item.name}">SubMeal Item</span> - <span th:text="${item.price}">Price</span>
        </li>
    </ul>

    <h2>飲料</h2>
    <ul>
        <li th:each="item : ${beverageMenu}">
            <span th:text="${item.name}">Beverage Item</span> - <span th:text="${item.price}">Price</span>
        </li>
    </ul>

</body>
</html>
